/*======================================
=            страница блога            =
======================================*/
.blog {
	&__list {
		padding-top: 35px;
	}

	&__story{
		padding: 0 20px;
		margin-bottom: 25px;
	}

	&__title{
		color: $blue-dark;
		font-size: $font-size-larger;
		line-height: 1.5;
	}

	&__date {
		display: block;
		margin-bottom: 20px;
	}


	&__txt p{
		font-size: $font-size-base;
		line-height: 1.9;
		padding-bottom: 20px;
		border-bottom: 2px solid $gray-light;
	}

	&__pagination {
		width: 100%;
		margin-bottom: 55px;
	}
}


/*=====  End of страница блога  ======*/


