.contest {
	padding-top: 45px;

	&__intro {
		font-size: $font-size-base;
		line-height: 2.1;
		padding: 0 20px;
		text-align: center;
	}
}

.contest__form {
	margin-top: -15px;
}

.form {
	&__row {
		margin-bottom: 5px;}

	&__group {
		margin: 0;
		border: none;
		padding: 40px 20px 35px 20px;
	}

	&__group--dark {
		background: $gray-light;
		padding-top: 30px;
	}

	&__title {
	/* заголовок группы формы */
		width: 100%;
		text-align: center;
		font-size: $font-size-base;
		font-family: $font-family-text;
		line-height: 1.3;
		font-style: normal;
		font-weight: 400;
		color: $red-dark;
		text-transform: uppercase;
		margin-bottom: 30px;
		padding: 0 20px;
		padding-top: 5px;
	}

	&__title--required:after {
		content: "*";
		color: $red-dark;
		vertical-align: super;
		font-size: 1.4rem;
		line-height: 1;
		padding-left: 3px;
	}

	&__label {
	/*подписи полей*/
	width: 100%;
	display: inline-block;
	font-size: $font-size-base;
	font-family: $font-family-text;
	line-height: 2.1;
	font-style: normal;
	font-weight: 400;
	color: $red-dark;
	text-transform: uppercase;
	display: inline-block;
	padding-left: 20px;
	padding-bottom: 5px;
	padding-top: 10px;
}

	&__label--center {
		/* подписи полей - по центру обертки полей */
		text-align: center;
		padding-left: 0;
	}

	&__label--required:after {
		content: "*";
		color: $red-dark;
		vertical-align: super;
		font-size: 1.4rem;
		line-height: 2.1;
	}

	&__label--check {
	/*модификатор общие стили для подписи полей checkbox и radio*/
	color: $blue-dark;
	text-transform: none;
	padding-left: 20px;
	display: inline-block;
	font-size: $font-size-larger;
	line-height: 1.7;
	position: relative;
	padding-left: 60px;
	cursor: pointer;
}

	&__label--checkbox {
		/*модификатор подписи полей только для checkbox*/
		&:before {
		content: "";
		display: block;
		width: 38px;
		height: 38px;
		background: $white;
		border: 2px solid $gray;
		position: absolute;
		left: 0;
		top: 5px;
		border-radius: 3px;
	}
}

	&__label--radio {
	/*модификатор подписи полей радиоконоки*/
		&:before {
			content: "";
			display: block;
			width: 38px;
			height: 38px;
			background: $white;
			border: 2px solid $gray;
			position: absolute;
			left: 0;
			top: -5px;
			border-radius: 50px;
		}
	}

	&__field {
		/*поля формы*/
		display: inline-block;
		width: 100%;
		padding: 15px 20px;
		font-family: $font-family-text;
		font-size: $font-size-larger;
		font-style: normal;
		font-weight: 400;
		line-height: 1.6;
		color: $black;
		border: 2px solid $gray;
		border-radius: 3px;

		&::-moz-placeholder{
			/* Цвет подсказывающего текста для Firefox*/
			color: $black;
		}

		&::-webkit-input-placeholder {
			/* Цвет подсказывающего текста для Chrome, Safari*/
			color: $black;
		}
	}

	&__radio-list {
		padding-bottom: 10px;
	}

	&__radio-item {
		margin-bottom: 30px;

		&:last-child {margin-bottom: 0;}
	}

	&__checkbox-list {
		padding-bottom: 10px;
	}

	&__checkbox-item {
		margin-bottom: 40px;

		&:last-child {margin-bottom: 0;}
	}
}


input[type="checkbox"],
input[type="radio"] {
		display: none;
	}

input[type="radio"]:checked + .form__label--radio:after {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	background: $red-dark;
	position: absolute;
	left: 12px;
	top: 7px;
	border-radius: 503px;
	z-index: 1;
}


input[type="checkbox"]:checked + .form__label--checkbox:after {
	content: "";
	display: block;
	width: 38px;
	height: 38px;
	background: url("../img/sprit.png") no-repeat -34px -449px;
	position: absolute;
	left: 0px;
	top: -6px;
	z-index: 50;
}

/*блок формы - добавление фотографий*/
input[type="file"] {
	visibility: hidden;
	position: absolute;
	top: 0;
}

.form__ctrl-add {
	display: block;
	width: 100%;
	margin-bottom: 35px;
}

.foto-panel {
	width: 100%;

	&__list {
		font-size: 0;
		width: 100%;;
		border-top: 2px solid $gray;
		padding-top: 15px;
		width: 280px;
		margin: auto;
	}
	&__item {
		display: inline-block;
		margin-right: 38px;
		padding-top: 20px;
		position: relative;

		&:nth-child(3n) {margin-right: 0;}
	}

	&__remove {
		/*иконка удаления фотографий*/
		display: block;
		width: 33px;
		height: 33px;
		background: $white;
		border: 2px solid $gray;
		position: absolute;
		right: -16px;
		top: 6px;
		border-radius: 3px;
		background-image: url("../img/sprit.png");
		background-repeat: no-repeat;
		background-position: 9px -517px;
		border-radius: 50px;
	}


	&__desc {
		padding-top: 5px;
		font-size: 1.2rem;
		line-height: 1.5;
		text-transform: uppercase;
		display: block;
	}
}
/*end/:блок формы - добавление фотографий*/
.form__btn {
	width: 100%;
	margin-top: 45px;
	padding: 0 20px;
	margin-bottom: 30px;
}

.form__note {
	padding-top: 5px;
	font-size: 1.4rem;
	line-height: 2.1;
	text-transform: uppercase;
	display: block;
	text-align: center;
	word-wrap: 1px;
	margin-bottom: 45px;

	&:before {
		content: "*";
		color: $red-dark;
		vertical-align: super;
		font-size: 1.4rem;
		line-height: 2.1;
	}
}



