/*----------  общие стили для всех страниц сайта  ----------*/
html {
	font-size: $html-size-base;
	line-height: $html-line-height-base;
	box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}
ul {
	padding: 0;
	margin: 0;
}
li {list-style: none;}
/*-----------------блок page-----------------*/
.page {
	font-size: $font-size-base;
	line-height: 1;
	font-family: $font-family-text;
	font-style: normal;
	font-weight: 400;
	color: $blue-dark;
	background: $white;


	&__container {
		min-width: 320px;
		margin: 0 auto;
		width: 100%;
		position: relative;
	}
}


























/*----------   End/: общие стили для всех страниц сайта   ----------*/
