/*=============================================
=            общие стили для всех страниц сайта            =
=============================================*/
html {
	font-size: $html-size-base;
	line-height:1;
	box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

h1,
h2,
h3,
p,
blockquote {
	margin: 0;
	padding: 0;
}
ul {
	padding: 0;
	margin: 0;
}
li {list-style: none;}

/*-----------------блок page-----------------*/
.page {
	font-size: $font-size-base;
	line-height: 1;
	font-family: $font-family-text;
	font-style: normal;
	font-weight: 400;
	color: $blue-dark;
	background: $white;


	&__container {
		min-width: 320px;
		margin: 0 auto;
		width: 100%;
		position: relative;
	}
}
/*----------------- End/:блок page-----------------*/

/*-----------------блок основной контент страницы-----------------*/
.content {
	width: 100%;

	&__header--index {
		background-image: url("../img/bg-content-header-hand.png"),
		url("../img/bg-content-header.jpg");
		background-position: center center, center center;
		background-repeat: no-repeat, no-repeat;
		background-size: auto, cover;
	}

	&__header--inner {
		background-image: url("../img/bg-content-header.jpg");
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__title{
		width: 100%;
		text-align: center;
		font-size: $font-size-big;
		line-height: 1.3;
		color: $white;
		padding: 85px 20px 310px;
	}

	&__title--inner {padding: 95px 20px 45px;}

	&__download-app{
		width: 100%;
		background: $blue-dark;
		padding: 30px 20px;
	}
}

/*блок скачать приложение download-app*/
.download-app {
	width: 100%;
	text-align: center;

	&__btn{
		display: block;
		width: 100%;
		max-width: 280px;
		padding: 15px 30px;
		margin: auto;
		margin-bottom: 25px;
		text-decoration: none;
		font-family: $font-family-text;
		line-height: 1;
		font-size: $font-size-larger;
		font-weight: 700;
		font-style: normal;
		color: $white;
		border: 3px solid $white;
		border-radius: 50px;
		text-align: center;
	}

	&__list {
		margin-bottom: 30px;
		font-size: 0;
		}

	&__icon {
		width: 50px;
		height: 60px;
		margin: 0 15px;
		display: inline-block;
		vertical-align: top;

		&--apple {background: $blue-dark url("../img/sprit.png") no-repeat 0 0;}


		&--android {background: $blue-dark url("../img/sprit.png") no-repeat 3px -57px;}

		&--windows {background: $blue-dark url("../img/sprit.png") no-repeat 2px -197px;}
	}

	&__caption {
		color: $white;
		font-size: $font-size-base;
		line-height: 1.7;
	}
}
/*end/:блок скачать приложение download-app*/
/*-----------------end/:блок основной контент страницы-----------------*/

/*-----общие стили для обычного текстового блока для всего сайта -------*/
.text {


	h3 {
		padding-top: 5px;
		color: $blue-dark;
		font-size: $font-size-larger;
		line-height: 1.5;
		text-transform: uppercase;
		margin-bottom: 25px;
	}

	p{
		font-size: $font-size-base;
		line-height: 1.9;
		padding-bottom: 30px;
	}

	ul {
		/* список в тексте */
		display: block;
		margin-bottom: 5px;


	}

	li {
		/* пункты списка */
		line-height: 1.9;
		margin-bottom: 30px;
		padding-left: 20px;
		position: relative;

		&:before {
			/* стилизованные маркеры списка в тексте*/
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 10px;
			width: 6px;
			height: 6px;
			border-radius: 50px;
			background: $red-dark;

		}
	}

	&__quote{
		/* цитата в тексте */
		margin-top: -5px;
		padding-left: 20px;
		margin-bottom: 40px;
		position: relative;

		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 4px;
			width: 2px;
			height: 100%;
			background: $red-dark;
		}

		p {padding-bottom: 10px;}
	}

	&__author {
		/* автор цитаты */
		font-family: $font-family-text;
		font-style: italic;
		font-weight: 400;
		color: $gray;
	}

	&__link {
		/* ссылка в тексте */
		color: $red-dark;
	}

}
/*-----end/: общие стили для обычного текстового блока для всего сайта -------*/

/* -----------------блок погинация -----------------*/
.pagination {
	width: 100%;
	font-size: 0;
	text-align: center;

	&__item {
		display: inline-block;
		width: 63px;
		padding: 20px 0;
		margin-left: 4px;
		margin-right: 4px;
		text-transform: uppercase;
		text-decoration: none;
		font-family: $font-family-text;
		line-height: 1;
		font-size: $font-size-larger;
		font-weight: 700;
		font-style: normal;
		color: $black;
		border: 2px solid $gray-light;
		border-radius: 3px;
		text-align: center;

		// &:last-child {
		// 	margin-right: 0;
		// }

		&--active {
			border-color: $red-dark;}
	}

	&__item--size-m {
		width: 130px;
		margin-bottom: 20px;
		margin-left: 10px;
		margin-right: 10px;
	}

	&__item--size-xl {
		width: 280px;
		margin-left: 10px;
		margin-right: 10px;
	}
}
/* -----------------end/: блок погинация -----------------*/

/* блок - дата (date) */
.date {
	font-family:$font-family-text;
	font-style: normal;
	font-weight: 400;
	color: $red-dark;
	text-transform: uppercase;
	font-size: $font-size-small;
	line-height: 2.2;
}

/* кнопки */
.btn {
	display: inline-block;
	width: 100%;
	padding: 20px 0;
	text-transform: uppercase;
	text-decoration: none;
	font-family: $font-family-text;
	line-height: 1;
	font-size: $font-size-larger;
	font-weight: 700;
	font-style: normal;
	color: $black;
	border: 2px solid $gray;
	border-radius: 3px;
	text-align: center;
	position: relative;
	z-index: 50;

	&--lighten {background: $white;}
	&--okay {
		background: $green;
		border: 1px solid $green;
		color: $white;
	}
}

/*=====  End/: общие стили для всех страниц сайта  ======*/