/*======================================
=            страница поста            =
======================================*/
.post {
	&__intro {
		padding-top: 35px;
		text-align: center;
		margin-bottom: 30px;
	}

	&__story{
		padding: 0 20px;
		margin-bottom: 25px;
	}

	&__title{
		color: $blue-dark;
		font-size: $font-size-bigger;
		line-height: 1.2;
		margin-bottom: 15px;
	}

	&__date {
		display: inline-block;
		margin-bottom: 20px;
	}


	&__txt {
		font-size: $font-size-large;
		line-height: 1.6;
		padding-bottom: 30px;
		border-bottom: 2px solid $gray-light;
	}

	&__pagination {
		padding: 0 20px;
		margin-bottom: 55px;
	}
}

