/*-----------------основная типографика на сайте -----------------*/
.txt-accent {
	font-family: $font-family-text;
	font-style: normal;
	font-weight: 300;


}
.txt {
	font-family:$font-family-text;
	font-style: normal;
	font-weight: 400;
}

.title {
	font-family:$font-family-text;
	font-style: normal;
	font-weight: 700;
}

.caption {
	font-family:$font-family-text;
	font-style: normal;
	font-weight: 300;
}
/*-----------------end/:основная типографика на сайте -----------------*/