//переммные - цвет
$black: #000; //черный
$white: #fff; //белый
$black: #000; // черный
$blue:#283645; //синий
$blue-dark: #1d2631; //темно-синий
$red-dark: #d22856; //темнобордовый
$gray-dark: #bec2c7; // темно-серый
$gray: #e5e5e5; //серый
$gray-light: #f2f2f2; //светло-серый
$green: #2aab6d;//зеленый


//переменные - размер шрифта
$html-size-base: 10px; //базовый размер шрифта
$html-line-height-base: 10px; //базовый размер интерлиньяжа
$font-size-smaller: 1rem;
$font-size-small: 1.2rem;
$font-size-base : 1.4rem;
$font-size-large: 1.6rem;
$font-size-larger: 1.8rem;
$font-size-big: 2.4rem;
$font-size-bigger: 3rem;
$font-size-biggest: 3.6rem;

// переменные шрифты
$font-family-text: "Open Sans", Helvetica, Arial, sans-serif;


// Переменные размеров экрана для MediaQueries
$responsive-size-tablet: 800px;
$responsive-size-mobile: 480px;
$responsive-size-phone: 320px;



